:root{
    --sidebar-size: 250px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sidebar Nav */
.sidenav{
    width: var(--sidebar-size);
    transition: 0.5s ease;
    background: linear-gradient(-21deg, var(--bs-indigo), var(--bs-teal)) ;
    box-shadow: 5px 0 15px 0 #0005;
}
.openNav{
    --sidebar-size: 70px !important;
}
a{
    text-decoration: none;
}
.sidebar-list{
    list-style-type: none;
    padding: 0;
}
.sidebar-list>li:hover{
    background-color: #0005;
    border-radius: 0 50px 50px 0;
}

/* Main Content*/
.main{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.content{
    padding: 5%;
    overflow-y: auto;
    height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #ddd;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(-21deg, var(--bs-teal), var(--bs-indigo));
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 50px #0005 inset;
}
